* {
  font-family: "Abel", sans-serif;
}

body {
  color: white;
  background-image: url("https://i.imgur.com/ltLaIPK.jpg");
}

body:after {
  content: "";
  animation: grain 8s steps(10) infinite;
  background-image: url("https://i.imgur.com/cs6pqo1.png");
  height: 300%;
  width: 300%;
  opacity: 0.03;
  position: fixed;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

h1,
h2 {
  text-align: center;
  font-size: 60px;
}

.input {
  text-align: center;
}

input {
  border-radius: 5px;
  opacity: 0.5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button {
  font-size: 20px;
  border-radius: 5px;
  opacity: 0.7;
}
